@{
    ViewBag.Title = "Technologies Under The Hood";
}
<h2>@ViewBag.Title</h2>
<h3>SOFTWARE</h3>
    Java Android
    <br><a target="_blank" href="https://github.com/Viseo/wii-wars-by-viseo">GitHub project</a>

    <br><a target="_blank" href="https://github.com/Microsoft/dotnet">
    ASP.Net Core Open Source (working on Linux and Mac OSX!)</a>

    <br><a target="_blank" href="http://signalr.net/">ASP.Net Signal R</a>
    <br><a target="_blank" href="http://azure.microsoft.com/fr-fr/services/event-hubs/">
        IoT Microsoft Azure Eventhubs (millions of deveices sending millions of events per seconds)
    </a>

    <br>
    <br>

  <h3>HARDWARE</h3>
    Nintendo Wiimotes
    <br>IR Led
    <br>WebCam
    <br>Connected Android SmartWatch
