<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        Welcome to the wii-wars ASP.NET 5 Web API app!  <br />

        here is some example
        <a href="api/Values">
        http://viseo-wii-wars-dev-noeu-websites.azurewebsites.net/api/Values </ a ><br />
        <a href="api/saberscore">
        http://viseo-wii-wars-dev-noeu-websites.azurewebsites.net/api/Values </ a ><br />
        <a href="api/Values/saber/1"> http://viseo-wii-wars-dev-noeu-websites.azurewebsites.net/api/Values </ a ><br />

    </body>
</html>
